<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/94475192-883a-44a3-a355-721c261917ef/resourceGroups/ADO-Demo/providers/Microsoft.Web/sites/vi-azdo-linux-demo</ResourceId>
    <ResourceGroup>ADO-Demo</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://vi-azdo-linux-demo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>5904ad77-9334-4876-b556-312589c4c14e</ProjectGuid>
    <PublishUrl>https://vi-azdo-linux-demo.scm.azurewebsites.net/</PublishUrl>
    <UserName>$vi-azdo-linux-demo</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>